div {
    color:rgb(138, 43, 226);
    font-size: 20px;
}

.hours {
    font-size: 28px;
    color: black;
    margin-top: 12px;
    margin-bottom: 12px;
}

.kitchen {
    color:#ff0000;
    margin-bottom: 50px;
    margin-top: 50px;
}
.real {
    width: 300px;
    height: 300px;

}
.square {
    width: 250px;
    height: 250px;
    background-color: blue;
}
.container {
    display: flex;
    flex-direction: column;
     border: 10px solid black;
     /* margin: 15px; */
     padding: 15px;
}
